body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #141e30, #243b55);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    width: 90%;
    max-width: 400px;
}

h1 {
    font-size: 32px;
    margin-bottom: 5px;
}

.subtitle {
    color: #ccc;
    margin-bottom: 25px;
}

.info-box {
    background: rgba(255,255,255,0.08);
    padding: 15px;
    border-radius: 12px;
    margin-bottom: 25px;
}

.info-box h2 {
    margin: 5px 0 15px 0;
    font-size: 22px;
}

.qr-box {
    background: white;
    padding: 20px;
    border-radius: 15px;
    display: inline-block;
}

.note {
    margin-top: 20px;
    font-size: 14px;
    color: #bbb;
}